<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request. The page you requested might be removed or crashed.</h2>
        <strong><a href="/Home/Index">Navigate to Home Page.</a></strong>
    </hgroup>
</body>
</html>
