@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>How to use Mortgage Calculator?</h3>

<p>Use our mortgage calculator to caculate the loan amount by providing few details.<br /></p>
<span>Please read the following steps to use the calculator efficiently.</span>
<ol>
    <li>Enter the principal amount of your loan in Principal field. It should be in the range of $1000 to $1,000,000</li>
    <li>Enter the Interest percentage in Annual Interest Rate. It should be in the range of 1% to 30%</li>
    <li>Enter the Period of Years in Years field. It should be in the range of 1 to 30</li>
    <li>You are good to go. Click on Calculate button. It will calculate and summarize you with Monthly interest, Total loan tenure in months, Total loan amount</li>
</ol>
<strong>If in case of any issues, please <a href="/Home/Contact">contact us.</a></strong>