@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Software Engineer<br/>
    Tamilnadu, India
</address>
<hr />
<address>
    <strong>Support:</strong>   <a href="mailto:nivedhageetha99@gmail.com">dimwit-techy@support.com</a><br />
    <strong>Follow for more:</strong>   <a href="https://www.linkedin.com/in/nivedha-k-b0ab9218b">dimwit-techy@domain.com</a><br />
</address>